<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
           calculateTotalPrice();

           $("#count").change(function(){
               calculateTotalPrice();
           });
        });

        function calculateTotalPrice(){
           var count = $("#count").val();
           var price = $("#price").val();
           var totalPrice = price * count;
           $("#totalPrice").html(totalPrice + '원');
        }

        function order(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");



            var url = "/order";
            var paramData = {
                itemId : $("#itemId").val(),
                count : $("#count").val()
            }

            var param = JSON.stringify(paramData);

            $.ajax({
                url : url,
                type : "POST",
                contentType : "application/json",
                data : param,
                beforeSend : function(xhr){
                    /*데이터 전송하기 전에 헤더이 csrf 값을 설정*/
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache : false,
                success : function(result, status){
                    alert("주문이 완료 되었습니다.");
                    location.href='/';
                },
                error : function(jqXHR, status, error){
                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요.');
                        location.href='/members/login';
                    }else{
                        alert(jqXHR.responseText);
                    }
                }
            });
         }

        function addCart(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/cart";

            var paramData = {
                itemId : $("#itemId").val(),
                count : $("#count").val()
            };
            var param = JSON.stringify(paramData);

            $.ajax({
                url : url,
                type : "POST",
                contentType : "application/json",
                data : param,
                beforeSend : function(xhr){
                    /*데이터 전송하기 전에 헤더이 csrf 값을 설정*/
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache : false,
                success : function(result, status){
                    alert("상품을 장바구니에 담았습니다.");
                    location.href='/';
                },
                error : function(jqXHR, status, error){
                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요.');
                        location.href='/members/login';
                    }else{
                        alert(jqXHR.responseText);
                    }
                }
            });
         }


         function priceCheck(){
         var price1 = $('#price1').val();
          var prices = $('#prices').val();

              console.log(prices);
            if (price1 == prices) {
              console.log(prices);
                alert("같음");
            }
            else{
              console.log(prices);
                alert("다름");
            }

        }
        $(document).ready(function(){
            $("searchBtn").on("click",function(e){
                e.preventDefault(); //검색버튼 클릭시 form 태그 전송을 막습니다.
                page(0);
            });
            $("searchBtn2").on("click",function(e){
                e.preventDefault(); //검색버튼 클릭시 form 태그 전송을 막습니다.
                page(0);
            });
        });

        function page(page){
            var searchDateType = $("#searchDateType").val();
            var searchSellStatus = $("#searchSellStatus").val();
            var searchBy = $("#searchBy").val();
            var searchQuery = $("#searchQuery").val();

             var searchRoomType = $("#searchRoomType").val();
            var searchCheckIn = $("#checkIn").val();
            var searchCheckOut = $("#checkOut").val();
            var searchAdultCount = $("#adultCount").val();
             var searchChildrenCount = $("#childrenCount").val();
            var searchPrice = $("#price").val();

            location.href="/user/reservation22/" + page + "?type=" + searchRoomType
             + "&checkIn=" + searchCheckIn  + "&checkOut=" + searchCheckOut  + "&adultCount=" + searchAdultCount
              + "&childrenCount=" + searchChildrenCount  + "&price=" + searchPrice;



              document.getElementById("type").value = searchRoomType;
           document.getElementById("checkIn").value = searchCheckIn;
            document.getElementById("checkOut").value = searchCheckOut;
            document.getElementById("adultCount").value = searchAdultCount;
            document.getElementById("childrenCount").value = searchChildrenCount;
            document.getElementById("price").value = searchPrice;
        }
    </script>
</th:block>
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        <style>
         #btn{
			margin-top:15px;
			margin-bottom:15px;
			background-color: #382f24;
		    width:120px;
		    height:50px;
		    border: none;
		    font-size:medium;
		    color:#f1ebd5;
			}

		input{
		    height:20px;
		    width:70%;
		    border:none;
		    text-align:center;
		    font-size:large;
		    font-weight:bold;
			}
    </style>

</th:block>

<div layout:fragment="content" style="margin-left:25%;margin-right:25%">

    <br/><br />
    &nbsp;&nbsp;&nbsp; <h1>객실예약</h1><br />

    <table align="center" class="reservelist1">
        <tr id="list1">
            <td id="step2">날짜,인원 선택</td>
            <td id="step1">객실 선택</td>
            <td id="step3">옵션 선택</td>
        </tr>
    </table>

    <form role="form" method="get" name="regForm" th:object="${reservationDto}" enctype="multipart/form-data">
        <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">
        <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">
            <p class="h3 font-weight-bold"  th:text="'\'' + ${itemSearchDto.searchQuery} + '\' 검색결과'"></p>
        </div>
        <div th:unless="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">
            <div class="text-center mb-4">
                <h1 class="font-weight-bold headerTitle"></h1>
            </div>
        </div>
        <table th:style="${'width:100%; text-align: center'}"  class="reserve1">
            <tr th:style="${'text-align:center; color:#a0a0a0; font-weight:bold'}" id="list1">
                <td>체크인</td>
                <td>체크아웃</td>
                <td>성인</td>
                <td>어린이</td>
                <td>방종류</td>
                <td>가격</td>
            </tr>

            <tr th:style="${'text-align:center'}">

                <input type="hidden"   th:field="*{checkIn}" />
                <td><input type="date" name="r_checkin" min='<%=now %>' id="checkIn"  th:value="${checkIns}" />
                </td>

                <input type="hidden"  th:field="*{checkOut}" />
                <td><input type="date" name="r_checkout" id="checkOut" th:value="${checkOuts}" />

                    <input type="hidden"  th:field="*{adultCount}" />
                <td><input type="number" name="r_adults" size="10" min="1" id="searchAdultCount" th:value="${adultCounts}" />
                </td>
                <td>
                    <input type="hidden"  th:field="*{childrenCount}" />

                    <input type="number" name="r_kids" size="10" min="0" id="searchChildrenCount"  th:value="${childCounts}"  />
                </td>
                <td><span class="me-1">
                    <input type="hidden"  th:field="*{type}" />

                    <input type="text" name="type"  id="searchRoomType"  th:value="${type}" readonly  />
                </span></td>
               <td>
                   <input type="hidden"  th:field="*{price}" />
                   <input type="text" id="searchPrice"  th:value="${prices}" />
                <td>
                    <form>
            </tr>
        </table>


        <th:block th:each="item, status: ${items.getContent()}">
    <table width="80%" align="center" class="reserveResult">
            <tr align="center" id="line">
                <td width="30%" id="line"><img th:src="${item.imgUrl}" width="280" height="200"></td>
                <td width="30%" id="line">
                    <table>
                        <div>

                        <h1 th:if="${item.stockNumber}>0">SELL</h1>
                            <h1 th:if="${item.stockNumber}<=0">SOLD_OUT</h1>
                        </div>

                        <tr align="center">
                            <h3>[[${item.type}]]</h3>
                        </tr>
                        <tr align="left">
                            <td> 객실크기 : [[${item.size}]]㎡</td>
                        </tr>
                        <tr align="left">
                            <td>최대 수용 인원 :[[${item.totalCount}]]명</td>
                        </tr>
                    </table>
                </td>
                <td width="25%" id="line"><input type="text" id="prices" th:text="${item.price}" readonly/>원  (1박)</b></td>
                <td id="line"><input type="submit" id="btn2" value="예약하기" th:formaction="@{'/user/reservation3/'+${item.id}}"></td>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            </tr>


    </table>

        </th:block>
    </form>
        <th:block>
            <div th:object="${itemSearchDto}" th:with="start=${(items.number/maxPage)*maxPage +1},
        end=(${(items.totalPages == 0) ?
        1 : (start + (maxPage-1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${items.first}?'disabled' : 'defaultText'">
                    <a th:onclick="'javascript:page('+${items.number - 1} + ')'" aria-label='Previous'
                       class="page-link">
                        <span aria-hidden="true">Previous</span>
                    </a>
                </li>
                <input type="hidden" th:field="*{searchRoomType}" th:value="${itemSearchDto.searchRoomType}">
                <li class="page-item" th:each="page: ${#numbers.sequence(start,end)}"
                    th:classappend="${items.number eq page-1}?'active':''">
                    <a th:onclick="'javascript:page('+${page -1} + ')'" th:inline="text"
                       class="page-link">[[${page}]]</a>
                </li>
                <li class="page-item" th:classappend="${items.last}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${items.number + 1} + ')'" aria-label="Next"
                       class="page-link">
                        <span aria-hidden="true">Next</span>
                    </a>
                </li>
            </ul>
        </div>
        </th:block>






</div>
</html>