<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){
                  $("input[name=reservationChkBox]").change(function(){

                  });

        //전체체크 클릭시 모든 체크값 얻기
	$("#allcheck").click(function(){

			//체크값 얻기
			var chk=$(this).is(":checked");
			console.log(chk);

			//전체를 각 글앞의 체크에 일괄 전달
            //prop()을 통해서는 element가 가지는 실제적인 상태(활성화, 체크, 선택				//여부)를 제어하는 업무에 적절하고
             // attr()는 속성값이나 정보를 조회하는 업무에 적절하다
			$(".del").prop("checked",chk);
		});


    //실제 삭제부분
    $("#btnmemberdel").click(function(){


			//체크한 인원수 구하기
			var cnt=$(".del:checked").length;

			if(cnt==0){
				alert("먼저 삭제할 회원을 선택해주세요");
				return;
			}

            $(".del:checked").each(function(i,elt){

				var reservationId= $("#listId").val();
				console.log(reservationId);

				$.ajax({
					type:"post",
					dataType:"html",
					url:"/room/deleteById/" + reservationId,
					data:{"reservationId":reservationId},
					success:function(){
						alert("삭제성공");
						//새로고침
						location.reload();
					}
				});
			});
		});
              });

              function checkAll(){
                  if($("#checkall").prop("checked")){
                  $("input[name=reservationChkBox]").prop("checked",true);

                  }
                  else{
                  $("input[name=reservationChkBox]").prop("checked",false);
                  }

                  }
                  $(document).ready(function(){
                  $("input[name=reservationChkBox]").change(function(){
                  });
                  });


         function deleteById(){
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                var reservationId = $("#reservationId").val();
                var Lists = $("#Lists").val();

                var url = "/room/deleteById/" + reservationId;
                console.log(reservationId);


                var dataList = new Array();
                var paramData = new Object();

                $("input[name=reservationChkBox]:checked").each(function(){
                  var data = new Object();
                    //data["reservationId"] = ;

                    dataList.push(data);

                });

                paramData['reservationList'] = dataList;
                 var param = JSON.stringify(paramData);

                $.ajax({
                    url : url,
                    type : "post",
                    contentType : "application/json",
                    data : param,
                    beforeSend : function(xhr){
                        /*데이터 전송하기 전에 헤더이 csrf 값을 설정*/
                        xhr.setRequestHeader(header, token);
                    },
                    dataType : "json",
                    cache : false,
                    success : function(result, status){
                        alert("삭제가 완료됐습니다.");
                        console.log(reservationId);
                        location.href='/room/reservationHist';
                    },
                    error : function(jqXHR, status, error){
                        if(jqXHR.status == '401'){
                            alert('로그인 후 이용해주세요.');
                            location.href='/members/login';
                        }else{
                            alert(jqXHR.responseText);

                        }
                    }
                });
            }
 function reservationId(obj){
            var reservationId = $("#listId").val();
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/room/deleteById/" + reservationId;

            $.ajax({
                url : url,
                type : "DELETE",
                beforeSend : function(xhr){
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache : false,
                success : function(result, status){
                    location.href='/room/reservationHist';
                },
                error : function(jqXHR, status, error){
                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요.');
                        location.href='/members/login';
                    }else{
                        alert(jqXHR.responseText);
                    }
                }
            });
        }
    </script>
</th:block>
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">

    <style>
        #btn{
			margin-top:15px;
			margin-bottom:15px;
			background-color: #382f24;
		    width:120px;
		    height:50px;
		    border: none;
		    font-size:medium;
		    color:#f1ebd5;
			}
		#reserveComment{
			width:100%;
			height: 546px;
			text-align: center;
			line-height:546px;
			font-size: xx-large;

		}
    </style>
</th:block>


<div layout:fragment="content">
    <br/><br />
    <h1 size="20">예약 내역<br /></h1>
<input type="hidden" th:value="${reservationId}" id="Lists">
    <form method="post" enctype="multipart/form-data" th:object="${List}">
        <table align="center" class="reserveInfo">
            <tr align="center" id="list">
                <td>no</td>
                <td>예약 객실 종류</td>
                <td>체크인</td>
                <td>체크아웃</td>
                <td>예약시간</td>
            </tr>
                <tr th:each="lists : ${List}">
                    <td class="text-center align-middle"
                        th:text="${lists.id}">
                    </td>
                    <td><a th:href="'/room/reservationDtl/'+${lists.id}"  th:text="${lists.type}"></a></td>
                    <td th:text="${lists.checkIn}"></td>
                    <td th:text="${lists.checkOut}"></td>
                    <td th:text="${lists.reservationTime}"></td>
        </tr>
            <tr align="center">
                <td colspan="8">
                    <input type="submit" id="btn" value="전체 취소" th:formaction="@{'/room/deleteAll'}" />
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                </td>

        </tr>
            </tr>
        </table>
    </form>
</div>