<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header">
    <table width="100%" height="8%" bgcolor="#f1e3c4" class="header">
        <tr>
            <th><a href="/members/login" sec:authorize="isAnonymous()">로그인</a>
                <div class="dropdown"  sec:authorize="isAuthenticated()">
                    <button class="btn btn-Light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                            th:text="${name} + '님 환영합니다.'">
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/cart" sec:authorize="hasAnyAuthority('ROLE_USER')">장바구니</a>
                            <a class="dropdown-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')" href="/admin/item/new">객실 등록</a>
                            <a class="dropdown-item" href="/profile/myInfoAS" sec:authorize="hasAnyAuthority('ROLE_USER')">정보 수정</a>
                            <a class="dropdown-item" href="/members/logout" sec:authorize="isAuthenticated()">로그아웃</a>
                        </li>
                    </ul>
                </div>
            </th>
            <th>
                <div class="dropdown">
                    <button class="btn btn-Light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">객실 정보</button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="/room/deluxe">디럭스룸</a>
                    <a class="dropdown-item"  href="/room/standard">스탠다드룸</a>
                    <a class="dropdown-item"  href="/room/sweet">스위트룸</a>
                    <a class="dropdown-item" href="/room/royal">로얄룸</a>
                </li>
            </ul>
                </div>
            </th>

            <th><a href="/room/adminReservationHist" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">고객 예약 조회</a>
                <a href="/user/reservations" sec:authorize="hasAnyAuthority('ROLE_USER')">예약하기</a>
            </th>
            <th><a href="/"><img src="https://raw.githubusercontent.com/raccoon-ccoder/Hotel_Overton/master/data/logo.png"
                                 width="175" height="140" alt="HOME"></a></th>
            <th><a href="/faq/boardLists">고객의 소리</a></th>
            <th><a href="/map">오시는 길</a></th>
            <th><a href="/room/reservationHist" sec:authorize="hasAnyAuthority('ROLE_USER')">내 예약내역</a>
                <a  href="/admin/items" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">객실 관리</a>
            </th>
        </tr>
    </table>
</div>
</html>