<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<th:block layout:fragment="script">
    <script th:inline="javascript">



    </script>
</th:block>
<!-- 사용자 CSS 추가 -->

<th:block layout:fragment="css">
    <style>
        .fieldError{
          color: #bd2130;
          margin-top: 10px;
          padding-left: 12px;
      }
      #btn{
          margin-top:15px;
          margin-bottom:15px;
          background-color: #382f24;
          width:120px;
          height:50px;
          border: none;
          font-size:medium;
          color:#f1ebd5;
          }
    </style>
</th:block>

<div layout:fragment="content">


    <div id="wrapper">
        <h1>고객의 소리 작성</h1>

        <div id="listcomment">
            호텔 오버톤은 언제나 고객의 목소리에 귀기울이고 있습니다.<br/>
            고객님들의 소중한 충고와 격려, 또는 제안의 말씀을 주시면 더 나은 서비스로 보답하겠습니다.<br/>
        </div>

        <form action="/faq/write" name="regForm" method="post" th:object="${writeFormDto}">
            <table align="center" class="inquiryDetail">
                <tr>
                    <td id="detail">TITLE</td>
                    <td>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="title" th:filed="*{title}" placeholder="문의 내용을 상세히 기재해 주시면 정확한 답변에 도움이 됩니다."
                                   maxlength="30" id="writeTitle">
                            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="fieldError">Incorrect date</p>
                        </div>
                    </td>


                </tr>

                <tr>
                    <td id="detail">CONTENT</td>
                    <td>
                        <div class="mb-3">
                            <textarea name="content" rows="5" cols="40"  th:filed="*{content}" id="writeContent"
                                      placeholder="불건전한 내용(예: 불충분한 증거/귀책 사유에 대한 개인 음해성 등) 또는 광고성 게시물은 사전 통보 없이 삭제 처리될 수 있습니다." class="form-control"></textarea>
                            <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="fieldError">Incorrect date</p>
                        </div>
                    </td>
                </tr>

                <tr align="center">
                    <td colspan="2">
                        <input type="submit" id="btn" value="확인" onclick="boardCheck()"/>
                        <input type="reset" id="btn" value="취소"  onclick="location.href='/faq/boardLists'"/>
                    </td>
                </tr>
            </table>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </form>
    </div>
</div>
